{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alura Space</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/styles/style.css' %}">
</head>

<body>
    <div class="pagina-inicial">
        <header class="cabecalho">
            <img src="{% static '/assets/logo/Logo(2).png' %}" alt="Logo da Alura Space" />
            <div class="cabecalho__busca">
                <div class="busca__fundo">
                    <form action="{% url 'buscar' %}">
                        <input  class="busca__input" type="text" name="buscar" placeholder="O que você procura?">
                        <button type="submit">
                            <img class="busca__icone" src="{% static '/assets/ícones/1x/search.png' %}" alt="ícone de search">
                        </button>
                    </form>
                </div>
            </div>
        </header>
        <main class="principal">
            <section class="menu-lateral">
                <nav class="menu-lateral__navegacao">
                    <a href="{% url 'index' %}"><img src="{% static '/assets/ícones/1x/Home - ativo.png' %}"> Home</a>
                    <a href="{% url 'login' %}"><img src="{% static '/assets/ícones/1x/Mais vistas - inativo.png' %}"> Login</a>
                    <a href="{% url 'cadastro' %}"><img src="{% static '/assets/ícones/1x/Novas - inativo.png' %}"> Cadastrar</a>
                    <a href="#"><img src="{% static '/assets/ícones/1x/Surpreenda-me - inativo.png' %}"> Logout</a>
                </nav>
            </section>
            <section class="galeria" style="margin-left: 5em">
                <form action="" method="">
                    <div class="row">
                        <div class="col-12 col-lg-12" style="margin-bottom: 10px;">
                            <label for="nome_cadastro" style="color:#D9D9D9; margin-bottom: 5px;"><b>Nome completo</b></label>
                            <input type="text" class="form-control" name="nome_cadastro" placeholder="Ex.: João Silva" required>
                        </div>
                        <div class="col-12 col-lg-12" style="margin-bottom: 10px;">
                            <label for="email" style="color:#D9D9D9; margin-bottom: 5px;"><b>Email</b></label>
                            <input type="email" class="form-control" name="email" placeholder="Ex.: joaosilva@xpto.com" required>
                        </div>
                        <div class="col-12 col-lg-6" style="margin-bottom: 10px;">
                            <label for="password1" style="color:#D9D9D9; margin-bottom: 5px;"><b>Senha</b></label>
                            <input type="password" class="form-control" name="password1" placeholder="Digite sua senha" required>
                        </div>
                        <div class="col-12 col-lg-6" style="margin-bottom: 10px;">
                            <label for="password2" style="color:#D9D9D9; margin-bottom: 5px;"><b>Confirmação de senha</b></label>
                            <input type="password" class="form-control" name="password2" placeholder="Digite sua senha mais uma vez" required>
                        </div>
                        <div class="col-12 text-center">
                            <button class="btn btn-success col-12" style="padding: top 5px;" type="submit">Criar sua conta</button>
                        </div>
                    </div>
                </form>
            </section>
        </main>
    </div>
</body>

{% include 'galeria/partials/_footer.html' %}